In [0]:
from google.colab import files

uploaded = files.upload()

Saving new_telco (2).csv to new_telco (2).csv

In [0]:
import pandas as pd
import io
telco = pd.read_csv(io.BytesIO(uploaded['new_telco (2).csv']))
telco=telco.drop(['customerID','TotalCharges','Unnamed: 0'] , axis=1)
telco.head()

   gender  SeniorCitizen  ... MonthlyCharges Churn
0  Female              0  ...          29.85    No
1    Male              0  ...          56.95    No
2    Male              0  ...          53.85   Yes
3    Male              0  ...          42.30    No
4  Female              0  ...          70.70   Yes

[5 rows x 19 columns]

In [0]:
telco['gender'].replace(to_replace=[['Female'],['Male']],value=[0,1],inplace=True)
telco['Partner'].replace(to_replace=[['PartnerNo'],['PartnerYes']],value=[0,1],inplace=True)
telco['Dependents'].replace(to_replace=[['Independent'],['Dependent']],value=[0,1],inplace=True)
telco['PhoneService'].replace(to_replace=[['PSNo'],['PSYes']],value=[0,1],inplace=True)
telco['PaperlessBilling'].replace(to_replace=[['PLBNo'],['PLBYes']],value=[0,1],inplace=True)
telco['MultipleLines'].replace(to_replace=[['MLNo'],['MLYes']],value=[0,1],inplace=True)
telco['OnlineSecurity'].replace(to_replace=[['OSNo'],['OSYes']],value=[0,1],inplace=True)
telco['OnlineBackup'].replace(to_replace=[['OBNo'],['OBYes']],value=[0,1],inplace=True)
telco['DeviceProtection'].replace(to_replace=[['DPNo'],['DPYes']],value=[0,1],inplace=True)
telco['TechSupport'].replace(to_replace=[['TSNo'],['TSYes']],value=[0,1],inplace=True)
telco['StreamingTV'].replace(to_replace=[['STVNo'],['STVYes']],value=[0,1],inplace=True)
telco['StreamingMovies'].replace(to_replace=[['SMNo'],['SMYes']],value=[0,1],inplace=True)
telco['InternetService'].replace(to_replace=[['DSL'],['Fiber optic'],['No']],value=[0,1,2],inplace=True)
telco['PaymentMethod'].replace(to_replace=[['Electronic check'],['Mailed check'],['Bank transfer (automatic)'],['Credit card (automatic)']],value=[0,1,2,3],inplace=True)
telco['Contract'].replace(to_replace=[['Month-to-month'], ['One year'], ['Two year']],value=[0,1,2],inplace=True)
telco['Churn'].replace(to_replace=[['No'], ['Yes']],value=[0,1],inplace=True)
telco.head()

   gender  SeniorCitizen  Partner  ...  PaymentMethod  MonthlyCharges  Churn
0       0              0        1  ...              0           29.85      0
1       1              0        0  ...              1           56.95      0
2       1              0        0  ...              1           53.85      1
3       1              0        0  ...              2           42.30      0
4       0              0        0  ...              0           70.70      1

[5 rows x 19 columns]

In [0]:
df=telco
df_1=df[df['Churn']==1]
df_0=df[df['Churn']==0]

In [0]:
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [0]:
# Different outcomes 
df.Churn.unique()

array([0, 1])

In [0]:
def hot_encode(x): 
    if(x<= 0): 
        return 0
    if(x>= 1): 
        return 1
  
# Encoding the datasets 
df_encoded = df.applymap(hot_encode) 


df_0_encoded= df_0.applymap(hot_encode) 

df_1_encoded = df_1.applymap(hot_encode)

In [0]:
# Building the model when Churn=1
frq_items = apriori(df_1_encoded, min_support = 0.05, use_colnames = True) 

# Collecting the inferred rules in a dataframe 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules.head()

                                             antecedents  ... conviction
26030  (MultipleLines, StreamingMovies, gender, Senio...  ...        inf
96269  (tenure, gender, SeniorCitizen, MultipleLines,...  ...        inf
96284  (MultipleLines, StreamingMovies, gender, Senio...  ...        inf
97771  (gender, PhoneService, SeniorCitizen, Multiple...  ...        inf
97785  (MultipleLines, StreamingMovies, gender, Senio...  ...        inf

[5 rows x 9 columns]

In [0]:
# Building the model when Churn=1
frq_items = apriori(df_0_encoded, min_support = 0.05, use_colnames = True) 

# Collecting the inferred rules in a dataframe 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules.head()

                             antecedents  ... conviction
7906      (MultipleLines, SeniorCitizen)  ...        inf
7920    (InternetService, SeniorCitizen)  ...        inf
17042   (MultipleLines, StreamingMovies)  ...        inf
17100  (InternetService, OnlineSecurity)  ...        inf
17106    (InternetService, OnlineBackup)  ...        inf

[5 rows x 9 columns]

In [0]:
# Building the model for the original dataset
frq_items = apriori(df_encoded, min_support = 0.05, use_colnames = True) 

# Collecting the rules in a dataframe 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules.head()

                             antecedents  ... conviction
8072      (MultipleLines, SeniorCitizen)  ...        inf
8086    (InternetService, SeniorCitizen)  ...        inf
16864   (MultipleLines, StreamingMovies)  ...        inf
16924             (MultipleLines, Churn)  ...        inf
16936  (InternetService, OnlineSecurity)  ...        inf

[5 rows x 9 columns]